/* 
    Document   : diy
    Created on : Jan 13, 2012, 9:10:23 PM
    Author     : ebartel
    Description:

*/


root { 
  display: block;
}

#diy-instructions-form{
  width:1200px;
}

table.wp-list-table{
  table-layout:auto;
}

td.column-number{
  width:75px;
}

td.column-text{
  width:800px;
}

td.column-picture{
  /*text-align: right;*/
}

img.diy-admin-img {
  max-height: 200px;
}